@{
    ViewData["Title"] = "Welcome Page";
}

<style>
    body {
        max-width: 100%;
        height: auto;
        background-image: url('img/digital-web.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
</style>

<div class="text-center alert alert-primary" style="font-size: 2rem">
    Welcome to digital wallet, where you can buy,storage and sell assets!
</div>
