@using Microsoft.AspNetCore.Identity
@using Wallet.Infrastructure.Data.Models
@using static Wallet.Core.Constants.UserConstants.Roles
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(Administrator))
        {
            <li class="nav-item pe-1">
                <a class="nav-link text-dark btn" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
            </li>
        }
        <li class="nav-item pe-1">
            <a class="nav-link text-dark btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item pe-1">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
