@model Wallet.Core.ViewModels.User.EditUserModel

@{
    ViewData["Title"] = "Edit user";
}

<div class="row justify-content-center">
    <h4 class="text-center">Edit User </h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="EditUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <input asp-for="Id" value="@Model.Id" type="hidden"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label> 
                <br/>
                <img src="@Model.Image" class="w-25 h-25 m-2"/>
                <input asp-for="Image" value="@Model.Image" type="hidden"/>
                <input type="file" name="image" class="form-control-file" accept="image/png, image/jpeg">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2 mb-2"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
